:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.background {
  background-color: var(--dark-color);
  padding: 188px 472px;
}

h1 {
  margin-bottom: 48px;
}

.header-one {
  color: var(--white-background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.header-three {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-two {
  color: var(--modal-overlay-color);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.background-cloud {
  background-color: var(--light-color);
}

.list {
  list-style: none;
}
.link {
  color: var(--dark-color);
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--dark-color);
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.link-nav {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-address {
  color: var(--text-color)
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.filter-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.filter-button-main {
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px var(--accent-color) solid;
}

.filter-button-main:hover,
.filter-button-main:focus {
  background-color: var(--pressed-state-color)
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.footer {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 17.5px;
}

.background-footer {
  background-color: var(--dark-color);
  padding: 101.5px 1020px 100px 156px;
}

.logo-studio-footer {
  color: var(--light-color);
}

.background-li {
  background-color: var(--white-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-block: 120px;
}

.header {
  padding: 24px 156px;
  border-bottom: 1px solid var(--accent-color)"
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.flex-nav-li {
  flex-basis: calc(100% - 80px) / 3;
}

.flex-address-li {
  flex-basis: calc(100% - 40px) / 2;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-flex-li {
  flex-basis: calc(100% - 96px) / 4;
}

.portfolio-flex {
  display: flex;
  gap: 24px;
}

.portfolio-flex-li {
  flex-basis: calc(100% - 48px) / 3;
}

.portfolio-img {
  padding: 32px 16px;
  border-right: 1px var(--accent-color) solid;
  border-bottom: 1px var(--accent-color) solid;
  border-left: 1px var(--accent-color) solid;
}

.our-values-flex {
  display: flex;
  gap: 24px;
}

.our-values-flex-li {
  flex-basis: calc(100% - 72px) / 4;
}

.doing-flex-li {
  flex-basis: calc(100% - 48px) / 2;
}

.team-flex-li {
  flex-basis: calc(100% - 72px) / 4;
}

.team-text {
  padding: 32px 16px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}